body{
    margin:0;
    padding:0 0 0 0;
    background:beige;
    
   
}
#seg_tree{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    
    height: 100%;
    padding:50px 0;
}
#seg_tree ul{
list-style:none;
display:inline-block;
 margin:0px 0;
 padding:0;
 vertical-align:middle;
}
#seg_tree ul li{
display:block;
padding:5px 0px;
vertical-align:middle;
white-space: nowrap;
z-index: 1000;
}

#seg_tree ul li ul{
    padding:0;
    margin-left:5%;
    vertical-align: middle;
}
#seg_tree ul li ul li{
     margin-top:0;
}

#seg_tree ul li span:hover{
color:yellowgreen!important;
}
#paths li span, #seg_tree ul li span{
color:dimgray;
display:inline-block;
}
.uniq span{
font-weight:bold;
}
#segment_menu{
	top:10%;
	left:10%;
	width:80%;
	position:fixed;
	
	background:white;
	box-shadow:3px 3px 9px 2px dimgray;
	display:none;
	border-radius: 5px;
	padding: 3px;
	z-index:1000;
	
	cursor: default;        
}
.value_options{
    overflow-y: auto;
    max-height: 400px;
}
#vars_menu{
    position:fixed;
    width:94%;
    height:94%;
	overflow-y: scroll;
    background:white;
    box-shadow:3px 3px 9px 2px dimgray;
    display:none;
    border-radius: 3px;
   
    z-index:10000;
    padding:1%;   
    top:2%;
    left:2%;
    background:beige;
}
.custom-menu h5,#rightclk_menu h5{
	padding:0;
	margin:0;
}
.requests span{
	color:blue;
	
	cursor:pointer;
}
.approved0{
    color:red!important;
}
.approved1{
    color:dimgray;
}
.chk{
  display:none;
  margin-left:20px;
  margin-top:0;
  opacity: 0.5;
  
}
.on{
    background:orange;
    color:white;
}
.group_mode{
    display:none;
}
.the_action,.the_action_var{
 box-shadow: 1px 1px 2px 2px #ccc;
 background-color:yellow;
}
.selected,.selected a, .selected_var, .selected_var{
    color:lime!important;
}
#edit_form, #filter_form{
    cursor: pointer;
}

.var_request_box{
    display: inline-block;
    float:left;
    vertical-align: top;
    width: 100%;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0 4px 4px 3px #ccc;
	margin-top:0%;
	height: 94%;
}
.var_request_box ul{
    padding:0;
    margin:0;
  
    width:100%;
}
.var_request_box ul li{
    white-space: nowrap;
    margin-bottom: 5px;
    display:list-item;
    
}
.vars_of_GET li,.vars_of_POST li{
	border-bottom: dashed 1px #ccc;
	list-style: none;
	display: list-item;
}
.var_li{
   // float:left;
	
    
}
.var_li_val{
    float:right;
    
}
#tools_panel{
   
    display: inline-block;
    vertical-align: top;
    width: 3%;
    top:60px;
    padding:5px;
    background:#fff;
 
    position:fixed;
    right:0;
    border-radius: 5px;
    box-shadow: 0 4px 4px 3px #ccc;
	cursor: default!important;
}

#tools_panel img,.vars_tools img{
    display:block;
    margin-bottom:50px;
    border:solid #fff 1px;
    
}
#truncate{
    margin: 20px auto 0 auto;
}
.have_vars{
    text-decoration:underline;
}
.vars_form{
 background: #fff none repeat scroll 0 0;
 box-shadow: 3px 3px 3px 3px dimgray;
 border-radius: 3px;
 left: 2%;
 position: fixed;
 top: 2%;
 display:none;
 width: 96%;
 height: 96%;
 overflow: auto;
 padding:3px;
 cursor:default;
 z-index:1000000;
}

.opened_segment{
	color:lime!important;
}
.box{
    background: #fff;
    border: 1px solid dimgray;
    border-radius: 10px;
    box-shadow: 0 4px 4px 3px #ccc;
    padding: 15px;
    width:80%;
    margin:10px auto;
}
.box_logs{
    background: #fff;
    border: 1px solid dimgray;
    border-radius: 10px;
    box-shadow: 0 4px 4px 3px #ccc;
    padding: 5px;
    width:98%;
    margin:70px auto 10px
}
.legend_box{
    background: #fff;
    border: 1px solid dimgray;
    border-radius: 10px;
    box-shadow: 0 4px 4px 3px #ccc;
    padding: 10px;
    width:60%;
    margin:10px auto;
    display: none;
    position: fixed;
    top: 30%;
    left:10%;
    width: 80%;
    Z-INDEX:1000;
}

.legend_box h5{
 vertical-align: top;    
 margin:0;
 font-size: 16px;
 padding:0;
 display: block;   
}
.legend_box table td{
    vertical-align: top;
}
#legends_text,#usage_text{
    display:none;
}
.usage_text_btn,.legends_text{
cursor: pointer;
font-weight: bold;
}

.header{
    background:black;
    height:20px;
    padding:1px 40px;
    position: fixed;
    width:100%;
    z-index: 1000;
    top:0px;
}
.header .menu{
    list-style:none;
    display:table;
    margin:0;
    padding:0;
}
.header .menu li{
    display:inline-block;
    margin-left:20px;
}
.header .menu li a{
    color:#fff;
    text-decoration: none;
}
.header .menu li a:hover{
    color:lime;
}
.status_window{
    margin:50px auto;
    width:80%;
	font-size:30px;
    border:solid dimgray 1px;
    background:#fff;
    padding:15px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 3px #ccc;
}
.status_window input{
	font-size:40px;
}

.tree_house{
  
    padding-bottom: 40px;
    width:100%;
    min-height:85%;
    position: absolute;
    z-index: 900;
}
.logs_report{
    margin:0px auto;
    background: #fff;   
    width:100%;
	font-size: 30px;
}
.logs_report tr th{
	text-align: left;
	padding:5px;
}
.logs_report tr td{
    padding:5px;
    border-bottom: solid black 1px;
}
.logs_report caption{
    color:dimgray;
}
.pagging{
    
    text-align: center;
    font-size:15px;
    font-weight: bold;
    color:gray;
    margin:10px auto 0 auto;
    
}
.pagging a{
    text-decoration: none;
    color:navy;
}
.logs_search_form{
    background: #fff;   
    text-align: center;
    box-shadow: 0 4px 4px 3px #ccc;
    position:fixed;
    top:22px;
    width:100%;
    z-index:1000;
}

.title{
    margin-top:40px;
    text-align: center;
    color:dimgray;
    font-size:22px;
}
#search_logs,#filter_submit{
    width:145px;
    background: dimgray;
    color:#fff;
    border:solid dimgray 1px;
    border-radius: 5px;
}
#save_settings,#save_user,#change_button{
 width:145px;	
}
#login_button,#filter_close{
    width:100%;
    background: #000;
    color:#fff;
    border:solid #fff 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px dimgray;
}
.inset{
background:beige;
border-radius: 3px;
}
.tbl th{
 text-align: left;   
}

#segments, #vars, #logs, #logs_url, #logs_url_pie,#logs_type_pie{
 background: #fff;   
 text-align: center;
 box-shadow: 0 4px 4px 3px #ccc;
}
#logs_url_pie,#logs_type_pie{
    height:300px;
}
.filter_box{
    background: #fff;
    border: 1px solid dimgray;
    border-radius: 10px;
    box-shadow: 0 4px 4px 3px #ccc;
    padding: 10px;
    width:98%;
	height:80px;
    margin:0px auto 0px auto;
    position: fixed;
    bottom:0px;
    z-index: 1000;
    cursor: default!important;
}
.filter_box form{
	padding:0;
	margin:0;
	float: left;
}
.filter_fieldset{
display:inline-block;  
padding:0px;
font-size: 14px;
margin: 0;
}
.filter_fieldset_header{
    border-bottom: solid #ccc 1px;
    color:#ccc;
    text-align: center;
	display: inline-block;
}
.description{
    background:#ccc;
    box-shadow:0px 4px 4px 0 #ccc;
    margin:15px auto;
    padding:5px;
}
.vars_value_options{
    display: block;
    height: auto;
    overflow-y: auto;
     width: 98%;
	 height:85%;
     margin: 2px auto;
} 
.vars_value_options .var{
    display: table-row;
    border-bottom: dotted 1px #ccc;
}
.vars_value_options .var span{
    display: table-cell;
    background: beige none repeat scroll 0 0;
    border-bottom: 1px solid white;
}
.textarea{
    width:100%;
}


connection {
z-index: 700;
border: 3px solid dimgray;

border-radius: 100%;
opacity:0.5;
}
connection.odd {
 border-radius: 100%;
}

inner {
        border: 4px solid;
        border-radius: 16px;
        color: #668;
}
.anchor {
        display: block;
        width: 0;
        margin-top: 0.1em;
        margin-left: 1em;
}
.more {
        float: right;
        font-weight: bold;
}
.segment{
    z-index:900;
    border:solid #ccc 1px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 #ccc;
    padding:3px 4px;
    background:#fff;
    position:absolite;
	text-decoration: none;
    
}
.segment:hover{
	box-shadow: 0 0px 1px 0 #ccc;
}

#dashboard_tbl{
    margin:50px auto 5px auto;
    width:850px;
    
}
#cookies code{
    float:right;
}
.fvname{
    width:100px;
    display:inline-block;
}
.fvvalue{
    width:285px;
    display:inline-block;
}
.log_link{
    color:red;
    display: block;
    padding:5px;
    position: absolute;
    font-size: 10px;
    cursor: pointer;
    
}
.invisible{
	opacity: 0.3;
}
#filter_help{
	float:right;
}
.x{
	cursor: pointer!important;
	background:#fff;
	width:50px;
	height:50px;
	float:right;
	background:url('../imgs/x.png') #fff;
	background-repeat: no-repeat;
	background-size: 100%;
	width:46px;
	height:46px;
}
#segment_menu h5,#vars_menu h5,.vars_form h5{
	background:#000;
	margin:0;
	padding: 3px 3px 3px 13px;
	color:#fff;
	font-size:13px;
	font-style: italic;
	line-height: 50px;
}
.ccc{
	color:#777620;
	font-size:13px;
}
.green_btn, .red_btn{
	border:solid #777620 1px;
	border-radius: 5px;
	cursor: pointer;
	color:#fff;
	font-weight: bold;
	font-size: 26px;
	text-decoration: none;
	padding: 0px 2px 2px 2px;
}
.green_btn{
	background: #6c6; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#6c6 10%, #000 100%); /* Safari 5.1-6.0 */
	background: -o-linear-gradient(#6c6 10%, #000 100%); /* For Opera 11.6-12.0 */
	background: -moz-linear-gradient(#6c6 10%, #000 100%); /* For Firefox 3.6-15 */
	background: linear-gradient(#6c6 10%, #000 100%); /* Standard syntax */
}
.red_btn{
	background: #f56c29; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#f56c29 10%, #000 100%); /* Safari 5.1-6.0 */
	background: -o-linear-gradient(#f56c29 10%, #000 100%); /* For Opera 11.6-12.0 */
	background: -moz-linear-gradient(#f56c29 10%, #000 100%); /* For Firefox 3.6-15 */
	background: linear-gradient(#f56c29 10%, #000 100%); /* Standard syntax */
}
#popup{
	position:absolute;
	min-width:300px;
	height:auto;
	border:solid black 1px;
	border-radius: 3px;
	background:#fff;
	z-index: 10000000;
	padding:5px;
	box-shadow: 0 3px 3px 3px #ccc;
}
.vars_row3{
	min-height: 25px;
}
.segment_tools{
	display:none;
}

.bottom_tools{
	text-align:right;
	float:left;
	display:block;
	margin:0;
	padding:7px;
	word-wrap: nowrap;
	word-break: keep-all;
}
#loader{
	position:fixed;
	top:30%;
	left:40%;
	width:200px;
	height:200px;	
	text-align: center;
	display:none;
}
#loader img{
	margin:40px auto;
}
.login_page input,.edituser_page input[type=text],.edituser_page input[type=password],.edituser_page input[type=submit],.password_page input{	
display:block;
font-size:35px;
margin-bottom:5px;
}
.edituser_page #save_user,.password_page #change_button{
	width:100%;
}
.add_user{
	font-size:30px;
}
#new_waf_security_key, #save_settings{width:100%!important;}
.htaccess_page{
	width:90%;
}
.htaccess_page h3{
white-space:pre-wrap;
}
.htaccess_page .green_btn{
	width:100%;
}
.users_page{font-size:30px;}
#save_ip{
	display:block;
	width:100%;
}
.blacklist_page{
	width:80%!important;
	text-align:center;
}
.blacklist_page input[type=text]{
	width:90%;
	font-size:30px;
}